* {
    box-sizing: border-box;
}

:root {
    --background: white;
    --color: #222;
}

.dark-theme {
    --background: #222;
    --color: white;
}

.hide {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background: var(--background);
    color: var(--color);
}

main {
    height: 400px;
    width: 700px;
    margin: 64px auto 32px;
}

.menu,
.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

button {
    height: 32px;
    color: white;
    background-color: #0a7aff;
    border: none;
    border-radius: 6px;
    margin: 2px;
}

button:hover {
    background-color: #0b64d1;
}

ul {
    padding: 0;
}

li {
    display: grid;
    grid-template-columns: 120px 1fr 120px 64px;
    height: 56px;
    border-bottom: 1px solid #4a4a48;
    margin-bottom: 16px;
}

.due-date,
.name {
    margin-bottom: 8px;
}

.rating,
.edit {
    justify-self: end;
}

form * {
    width: 100%;
}

#status {
    width: 16px;
}

dialog {
    height: 400px;
    width: 700px;
    margin: 64px auto 32px;
    border: none;
    background: var(--background);
    color: var(--color);
}

dialog::backdrop {
    background-color: var(--background);
}
